streamlit
openai
pandas
openpyxl
python-dotenv
gspread
google-auth

chromadb==1.5.9

langchain==1.3.10
langchain-chroma==1.1.0
langchain-classic==1.0.8
langchain-community==0.4.2
langchain-core==1.4.8
langchain-openai==1.3.2
langchain-protocol==0.0.18
langchain-text-splitters==1.1.2

langgraph==1.2.6
langgraph-checkpoint==4.1.1
langgraph-prebuilt==1.1.0
langgraph-sdk==0.4.2

opentelemetry-api==1.42.1
opentelemetry-exporter-otlp-proto-common==1.42.1
opentelemetry-exporter-otlp-proto-grpc==1.42.1
opentelemetry-proto==1.42.1
opentelemetry-sdk==1.42.1
opentelemetry-semantic-conventions==0.63b1

protobuf==6.33.6